ModelCatalogueCorePlugin/grails-app/assets/other/schema/1.0/catalogue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:mc="http://www.metadataregistry.org.uk/assets/schema/1.0/catalogue.xsd"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.metadataregistry.org.uk/assets/schema/1.0/catalogue.xsd"
        elementFormDefault="qualified" version="1.0" xml:lang="EN">

    <xs:simpleType name="Name">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ID">
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="https?://.*"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRAFT"/>
            <xs:enumeration value="FINALIZED"/>
            <xs:enumeration value="DEPRECATED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PreservedString">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Description">
        <xs:restriction base="mc:PreservedString">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Rule">
        <xs:restriction base="mc:PreservedString">
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ExtensionKey">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ExtensionValue">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Symbol">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Extension">
        <xs:simpleContent>
            <xs:extension base="mc:ExtensionValue">
                <xs:attribute name="key" type="mc:ExtensionKey" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Extensions">
        <xs:sequence>
            <xs:element name="extension" type="mc:Extension" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Enumeration">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="value" use="required" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Enumerations">
        <xs:sequence>
            <xs:element name="enumeration" type="mc:Enumeration" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="KnownCatalogueElementType">
        <xs:restriction base="mc:Name">
            <xs:enumeration value="classification"/>
            <xs:enumeration value="model"/>
            <xs:enumeration value="dataElement"/>
            <xs:enumeration value="valueDomain"/>
            <xs:enumeration value="dataType"/>
            <xs:enumeration value="measurementUnit"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="JavaClass">
        <xs:restriction base="xs:string">
            <xs:pattern value="([\p{L}_$][\p{L}\p{N}_$]*\.)*[\p{L}_$][\p{L}\p{N}_$]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CatalogueElementType">
        <xs:union memberTypes="mc:JavaClass mc:KnownCatalogueElementType"/>
    </xs:simpleType>

    <xs:complexType name="Reference">
        <xs:annotation>
            <xs:documentation>
                The Reference can must always contain at least "ref" attribute or "name". If the "classification" is
                provided the name will be searched only within this classification. Also if element of this type
                is used inside element of type "Classification" it is assumed that the element should be searched by name
                within the surrounding classification. This does not apply on elements having the "ref" attribute
                provided. In that case the element is resolved by the ID. The type of the catalogue element can
                be provided to distinguish between elements having same name and classification but different types
                (this is quite common for value domains and it's data types)
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name"           type="mc:Name" />
        <xs:attribute name="classification" type="mc:Name" />
        <xs:attribute name="ref"            type="mc:ID" />
        <xs:attribute name="type"           type="mc:CatalogueElementType" />
    </xs:complexType>

    <xs:simpleType name="KnownRelationshipTypes">
        <xs:restriction base="mc:Name">
            <xs:enumeration value="containment"/>
            <xs:enumeration value="base"/>
            <xs:enumeration value="hierarchy"/>
            <xs:enumeration value="relatedTo"/>
            <xs:enumeration value="synonym"/>
            <xs:enumeration value="favourite"/>
            <xs:enumeration value="classification"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RelationshipType">
        <xs:union memberTypes="mc:Name mc:KnownRelationshipTypes"/>
    </xs:simpleType>

    <xs:complexType name="Relationship">
        <xs:complexContent>
            <xs:extension base="mc:Reference">
                <xs:attribute name="relationshipType" type="mc:RelationshipType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Relationships">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="from" type="mc:Relationship"/>
            <xs:element name="to"   type="mc:Relationship"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="CatalogueElement" abstract="true">
        <xs:annotation>
            <xs:documentation>
                CatalogueElement is either a in-lined definition of the element or a reference to the existing element.
                If "ref" attribute is set, any other attributes or nested elements are ignored.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="mc:Reference">
                <xs:sequence>
                    <xs:element name="description"      type="mc:Description"   minOccurs="0"/>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="basedOn"      type="mc:Reference"/>
                        <xs:element name="relatedTo"    type="mc:Reference"/>
                        <xs:element name="synonym"      type="mc:Reference"/>
                    </xs:choice>
                    <xs:element name="extensions"       type="mc:Extensions"    minOccurs="0"/>
                    <xs:element name="relationships"    type="mc:Relationships" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="id" type="mc:ID"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MeasurementUnit">
        <xs:complexContent>
            <xs:extension base="mc:CatalogueElement">
                    <xs:attribute name="symbol" type="mc:Symbol"/>
                    <xs:attribute name="type"   use="prohibited"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataType">
        <xs:complexContent>
            <xs:extension base="mc:CatalogueElement">
                <xs:sequence>
                    <xs:element name="enumerations" type="mc:Enumerations" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="type" use="prohibited"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ValueDomain">
        <xs:complexContent>
            <xs:extension base="mc:CatalogueElement">
                <xs:sequence>
                    <xs:choice minOccurs="0">
                        <xs:element name="rule"     type="mc:Rule" />
                        <xs:element name="regex"    type="xs:string" />
                    </xs:choice>
                    <xs:element name="unitOfMeasure"    type="mc:MeasurementUnit"   minOccurs="0" />
                    <xs:element name="dataType"         type="mc:DataType"          minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="type" use="prohibited"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataElement">
        <xs:complexContent>
            <xs:extension base="mc:CatalogueElement">
                <xs:sequence>
                    <xs:element name="valueDomain" type="mc:ValueDomain"   minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="type" use="prohibited"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Model">
        <xs:complexContent>
            <xs:extension base="mc:CatalogueElement">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="model"        type="mc:Model" />
                    <xs:element name="dataElement"  type="mc:DataElement" />
                </xs:choice>
                <xs:attribute name="type" use="prohibited"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Classification">
        <xs:complexContent>
            <xs:extension base="mc:CatalogueElement">
                <xs:sequence>
                    <xs:element name="globalSearchFor" type="mc:CatalogueElementType" minOccurs="0" maxOccurs="unbounded" />
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="model"            type="mc:Model"           />
                        <xs:element name="dataElement"      type="mc:DataElement"     />
                        <xs:element name="valueDomain"      type="mc:ValueDomain"     />
                        <xs:element name="dataType"         type="mc:DataType"        />
                        <xs:element name="measurementUnit"  type="mc:MeasurementUnit" />
                    </xs:choice>
                </xs:sequence>
                <xs:attribute name="type" use="prohibited"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Catalogue">
        <xs:sequence>
            <xs:element name="createAutomatically" type="mc:CatalogueElementType" minOccurs="0" maxOccurs="unbounded" />
            <xs:choice maxOccurs="unbounded">
                <xs:element name="classification"   type="mc:Classification"  />
                <xs:element name="model"            type="mc:Model"           />
                <xs:element name="dataElement"      type="mc:DataElement"     />
                <xs:element name="valueDomain"      type="mc:ValueDomain"     />
                <xs:element name="dataType"         type="mc:DataType"        />
                <xs:element name="measurementUnit"  type="mc:MeasurementUnit" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="catalogue" type="mc:Catalogue"/>

</xs:schema>
