ModelCatalogueCorePlugin/test/unit/resources/SACT/XSD_Example.xsd

<?xml version="1.0"?>
<xs:schema xmlns="http://www.datadictionary.nhs.uk/messages/SACT-v2-0" xmlns:SACT="http://www.datadictionary.nhs.uk/messages/SACT-v2-0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.datadictionary.nhs.uk/messages/SACT-v2-0" elementFormDefault="unqualified" attributeFormDefault="unqualified" blockDefault="#all" version="2-0">
    <xs:complexType name="TS.GB-en-NHS.Date">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of a date of the form: yyyy-mm-dd.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="TS">
                <xs:attribute name="value" use="required">
                    <xs:simpleType>
                        <xs:restriction base="ts">
                            <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TS">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of a timeStamp.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="QTY">
                <xs:attribute name="value" type="ts" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="QTY" abstract="true">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of a quantity.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ANY"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="ts">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of a timestamp.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}|([0-9]{9,14}|[0-9]{14,14}\.[0-9]+)([+\-][0-9]{1,4})?"/>
        </xs:restriction>
    </xs:simpleType>



    <xs:complexType name="ANY" abstract="true">
        <xs:annotation>
            <xs:documentation>This data type represents an abstract type from which more specific data types are derived.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="optional"/>
        <xs:attribute name="updateMode" type="cs_UpdateMode" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="cs_NullFlavor">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of the null flavour used.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="cs">
            <xs:enumeration value="NI"/>
            <xs:enumeration value="NA"/>
            <xs:enumeration value="UNK"/>
            <xs:enumeration value="NASK"/>
            <xs:enumeration value="ASKU"/>
            <xs:enumeration value="NAV"/>
            <xs:enumeration value="OTH"/>
            <xs:enumeration value="PINF"/>
            <xs:enumeration value="NINF"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="cs_UpdateMode">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of the update mode used for data.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="cs">
            <xs:enumeration value="added"/>
            <xs:enumeration value="altered"/>
            <xs:enumeration value="removed"/>
            <xs:enumeration value="unchanged"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="cs">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of a character string.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:pattern value="[^\s]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CD">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of a concept descriptor.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ANY">
                <xs:sequence>
                    <xs:element name="group" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="qualifier" type="CR" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="code" type="cs" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CR">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="CD">
                <xs:sequence>
                    <xs:element name="value" type="cs" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AD" mixed="true">
        <xs:annotation>
            <xs:documentation>The data type supports the representation of an address.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ANY">
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="delimiter">
                            <xs:complexType mixed="true">
                                <xs:complexContent>
                                    <xs:restriction base="ADXP">
                                        <xs:attribute name="partType" type="cs_AddressPartType" fixed="DEL"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="state">
                            <xs:complexType mixed="true">
                                <xs:complexContent>
                                    <xs:restriction base="ADXP">
                                        <xs:attribute name="partType" type="cs_AddressPartType" fixed="STA"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="streetNameType">
                            <xs:complexType mixed="true">
                                <xs:complexContent>
                                    <xs:restriction base="ADXP">
                                        <xs:attribute name="partType" type="cs_AddressPartType" fixed="STTYP"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="desc">
                            <xs:complexType mixed="true">
                                <xs:attribute name="partType" type="cs_AddressPartType" fixed="DESC"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:element name="useablePeriod" type="IVL_TS" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="id" type="II" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IVL_TS">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of a time interval.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="II">
                <xs:choice minOccurs="0">
                    <xs:sequence>        
                        <xs:choice minOccurs="0">
                            <xs:element name="width" type="st" minOccurs="0"/>
                            <xs:element name="useablePeriod" type="IVL_TS" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:choice>
                    </xs:sequence>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="II.GB-en-NHS.IdentifierType4">
        <xs:annotation>
            <xs:documentation>This data type supports the sending of Organisation data as derived from ODS.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="II">
                <xs:attribute name="root" type="st" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.19.1"/>
                <xs:attribute name="extension" use="required">
                    <xs:simpleType>
                        <xs:restriction base="st">
                            <xs:minLength value="3"/>
                            <xs:maxLength value="12"/>
                            <xs:pattern value="[A-Z0-9]*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="II">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of an instance identifier.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ANY">
                <xs:attribute name="root" type="st" use="optional"/>
                <xs:attribute name="extension" type="st" use="optional"/>
                <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
                <xs:attribute name="displayable" type="st" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ADXP" mixed="true">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of an address part.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ST">
                <xs:attribute name="partType" type="cs_AddressPartType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ST" mixed="true">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of string data.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="BIN">
                <xs:sequence>
                    <xs:element name="reference" type="TEL" minOccurs="0"/>
                    <xs:element name="thumbnail" type="thumbnail" minOccurs="0"/>
                    <xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="language" type="cs" use="optional"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BIN" abstract="true" mixed="true">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of binary data.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ANY">
                <xs:attribute name="representation" type="cs_BinaryDataEncoding" use="optional" default="TXT"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="thumbnail">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of a thumbnail image.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="ED">
                <xs:sequence>
                    <xs:element name="reference" type="TEL" minOccurs="0"/>
                    <xs:element name="thumbnail" type="thumbnail" minOccurs="0" maxOccurs="0"/>
                    <xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="cs_AddressPartType">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of a specific part of an address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="cs">
            <xs:enumeration value="DEL"/>
            <xs:enumeration value="CNT"/>
            <xs:enumeration value="STA"/>
            <xs:enumeration value="CPA"/>
            <xs:enumeration value="CTY"/>
            <xs:enumeration value="ZIP"/>
            <xs:enumeration value="SAL"/>
            <xs:enumeration value="BNR"/>
            <xs:enumeration value="BNN"/>
            <xs:enumeration value="DIR"/>
            <xs:enumeration value="STR"/>
            <xs:enumeration value="STB"/>
            <xs:enumeration value="STTYP"/>
            <xs:enumeration value="ADL"/>
            <xs:enumeration value="UNID"/>
            <xs:enumeration value="UNIT"/>
            <xs:enumeration value="CAR"/>
            <xs:enumeration value="CEN"/>
            <xs:enumeration value="DESC"/>
            <xs:enumeration value="ADDRK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="st">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of a string of characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="cs_BinaryDataEncoding">
        <xs:annotation>
            <xs:documentation>This data type supports the representation of the encoding type used for binary data.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="B64"/>
            <xs:enumeration value="TXT"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
